<%= form_for @document, url: {action: "create"}, html: {class: "ui form"} do |f| %>
  <!-- text area -->
  <div class="field">
    <label>Paste your text here:</label>
    <div autofocus name="" id="editor"></div>
    <%= f.hidden_field(:content) %>
  </div>

  <%= content_tag :div, nil, class: ["divider", "divider30"] %>

  <!-- attributes -->
  <div class="ui grid">
    <!-- title -->
    <div class="four wide computer eight wide tablet sixteen wide mobile column">
      <%= f.label :title %>
      <%= f.text_field(:title) %>
    </div>

    <div class="four wide computer eight wide tablet sixteen wide mobile column">
      <%= f.label :expired_at %>
      <div class="ui">
        <div class="ui fluid normal selection dropdown dropdown-expired_at">
          <%= f.hidden_field(:expired_at, value: '0') %>
          <i class="dropdown icon"></i>
          <div class="default text">After reading</div>
          <%= expired_at_dropdown %>
        </div>
      </div>
    </div>

    <!-- syntax -->
    <div class="four wide computer eight wide tablet sixteen wide mobile column">
      <%= f.label :syntax %>
      <div class="ui">
        <div class="ui fluid search normal selection dropdown dropdown-syntax">
          <%= f.hidden_field(:syntax, value: 'plain') %>
          <i class="dropdown icon"></i>
          <div class="default text">Plain text</div>
          <%= syntax_dropdown %>
        </div>
      </div>
    </div>
  </div> <!-- end of attribute section -->

  <%= content_tag :div, nil, class: ["divider", "divider30"] %>
  <%= content_tag :div, nil, class: ["ui", "error", "message"] %>

  <%= button_tag(type: 'submit', class: 'ui button fluid teal') do %>
    Submit
  <% end %>

<% end %>
<!--  end of form -->

<div class="ui link_placeholder" style="display: none">
  <center>
    <h1>Your Link:</h1>
    <div class="ui action input">
      <input type="text" class="shared_link" value="" size="60">
      <button class="ui teal right labeled icon button button-copy" data-clipboard-target=".shared_link">
        <i class="copy icon"></i>
        Ctrl/⌘ + V
      </button>
    </div>
  </center>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
// Init editor
var editor = ace.edit("editor");
editor.setTheme("ace/theme/github");
editor.getSession().setMode("ace/mode/github");
editor.focus();

new Clipboard('.button-copy');

// Assign value in editor to form input
editor.getSession().on("change", function(e){
  editorVal = editor.getValue();
  try {
    $('#document_content').val(editorVal);
  } catch(e){
    // Do smt if error
  }
})

// Set syntax
$('.dropdown-syntax').dropdown({
  action: 'activate',
  onChange: function(value, text, $choice) {
    editor.getSession().setMode("ace/mode/" + value);
    return;
  }
});

// Set expired_at
$('.dropdown-expired_at').dropdown();

// Define from validation rule
var validationRules = {
  content: {
    identifier  : 'document[content]',
    rules: [
      {
        type   : 'empty',
        prompt : 'Forgot your text'
      }
    ]
  }
}

// Form handle
$('.ui.form').form({
  on: 'submit',
  fields: validationRules,
  // When validation is successful
  onSuccess: function(event, fields){
    event.preventDefault();
    var myForm = $('.ui.form');
    var sbmButton = $('.ui.form .button');

    sbmButton.addClass('loading disabled');

    $.ajax({
      type: myForm.attr('method'),
      url: myForm.attr('action'),
      data: fields,
      dataType: 'json',
      statusCode: {
        201: function (data) {
          console.log(data)
          myForm.hide();
          $('.link_placeholder input').val(window.location.href + data.random_key);
          $('.link_placeholder').show();
          $('.link_placeholder input').select();
        },
        400: function (data) {
          alert(data.message);
        },
        500: function (data) {
          alert('Server Error.');
        }
      }
    }).fail(function( data ) {
      // Do after failure
      console.log(data);
    }).always(function( data ) {
      // Always execute after ajax call done
      sbmButton.removeClass('loading disabled');
    });

    return false
  }
});

// Set button to copied when click
$('.button-copy').click(function(event){
  event.preventDefault();
  $(this).html('<i class="copy icon"></i> Copied');
});
</script>
