<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrush<%= load_syntax(@document) %>.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css" rel="stylesheet" type="text/css" />

<style>
h1 {
  margin-top: 0;
  margin-bottom: 5px;
}
</style>

<button class="ui red basic right floated button" onclick="alert('in development');">
  <i class="ui remove icon"></i>
  Delete now
</button>

<h1 class=""><%= print_document_title(@document) %></h1>
<p><%= print_expired_at(@document) %></p>
<br>

<pre class="brush: <%= @document.syntax.downcase %>">
<%= @document.content_decrypted %>
</pre>

<div class="divider divider60"></div>

<!-- <center>
  <button class="ui red basic button">
    <i class="ui remove icon"></i>
    Delete this document now
  </button>
</center> -->

<script type="text/javascript">
SyntaxHighlighter.all()
SyntaxHighlighter.defaults['toolbar'] = false;

// tab-size = 2 if ruby
SyntaxHighlighter.defaults['tab-size'] = 2;

// Fake comment
$(".number3").after("<div>hihi</div>")
</script>
