<!DOCTYPE html>
<html>
<head>
  <title><%= "#{print_document_title(@document)} | " if @document.title %>PikaBin - Your friendly and secure PasteBin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name="author" content="PikaBin">
  <meta name="description" content="PikaBin is a website where you can store text online for a set period of time">

  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.1/rails.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js" %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui grid">
    <div class="ten wide computer twelve wide column fourteen wide mobile column centered container">

      <div class="ui secondary pointing menu">
        <a class="active item" href="/">
          <i class="large icons">
            <i class="code icon"></i>
            <i class="inverted corner add icon"></i>
          </i>
          PikaBin
          <i class="ui label">beta</i>
        </a>
        <div class="right menu">
        </div>
      </div>

      <div class="divider divider30"></div>

      <div class="main">
        <%= yield %>
      </div> <!--  end of .main -->

      <%= render 'layouts/footer' %>

    </div>
  </div>

  <script>
    // $('.dropdown').dropdown();
  </script>
</body>
</html>
