<!DOCTYPE html>
<html>
<head>
  <title>PikaBin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui grid">
    <div class="ten wide computer twelve wide column fourteen wide mobile column centered container">

      <div class="ui secondary pointing menu">
        <a class="active item">
          <i class="large icons">
            <i class="code icon"></i>
            <i class="inverted corner add icon"></i>
          </i>
          PikaBin
        </a>
        <div class="right menu">
        </div>
      </div>

      <div class="divider divider30"></div>

      <div class="main">
        <%= yield %>
      </div> <!--  end of .main -->

      <%= render 'layouts/footer' %>

    </div>
  </div>

  <script>
    // $('.dropdown').dropdown();
  </script>
</body>
</html>
